<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"></h1>
        <p class="lead">Esta es una aplicación de películas</p>
        <h1>{{ titulo_populares }}</h1>
    </div>

</div>


<div class="card-group puntero">

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[0].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[0]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[1].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[1]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[2].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[2]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[3].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[3]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[4].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[4]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[5].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[5]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[6].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[6]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[7].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[7]  | imagenPipe) + ' )' }"></div>
    </div>
    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[8].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[8]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[9].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[9]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[10].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[10]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[11].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[11]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[12].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[12]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[13].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[13]  | imagenPipe) + ' )' }"></div>
    </div>

    <div class="card-body">
        <div [routerLink]="['/informacion', posterPopulares[14].id, 'buscarPeli' ]" class="div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (  posterPopulares[14]  | imagenPipe) + ' )' }"></div>
    </div>

</div>