<div class="container main-container" *ngIf="pelicula">

    <div class="text-right">
        <button [routerLink]="['/'+regresar]" type="button" class="btn btn-outline-primary"> Regresar</button>
    </div>

    <div class="col-md-12">
        <h1>{{ pelicula.title }}</h1>
        <div class="row">
            <img [src]="  pelicula | imagenPipe" class="img-thumbnail img-fluid" />
        </div>
    </div>
    <div class="col-md-12">
        <b>Sinopsis:</b>
        <p class="text-justify">
            {{ pelicula.overview }}
        </p>
        <span class="badge-success">Popularidad:</span> {{ pelicula.vote_average | number:"0.0"}}
    </div>
</div>